[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django = "*"
django-extensions = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
